{% extends 'base.html' %}
{% load static %}

{% block baseblock %}

    <div class="row">
        <div class="col-md-12 px-0">
            <img src="{% static 'images/nature.jpg' %}" height="300px" alt="">
        </div>
        <div class="col-md-12">
            <h1> This is about page</h1>
            <p>fucking Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolor laboriosam recusandae veritatis nulla, sed maiores, similique animi sequi nam dicta adipisci natus minima magni perspiciatis error praesentium cupiditate! Cum?</p>
        </div>
    </div>
{% endblock baseblock %}
    