{% extends 'dashboard_base.html' %}
{% load static %}
{% block dashboard %}
<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-5 bg-light p-4">
            <h1 class="mb-4">Change Password</h1>
            <form method="POST" action="{% url 'change_password' %}">
                {% csrf_token %}
                
                {% if status %}
                    {% if status|lower == "password changed successfully" %}
                        <div class="alert alert-success">{{status}}</div>
                    {% elif status|lower == "incorrect current password" %}
                        <div class="alert alert-danger">{{status}}</div>
                    {% endif %}
                {% endif %}
                    
                <div class="form-group mb-3">
                    <label for="current-password">Current Password</label>
                    <input type="password" id="current-password" name="cpwd" class="form-control" placeholder="Enter Current Password" required>
                </div>
                <div class="form-group mb-3">
                    <label for="new-password">New Password</label>
                    <input type="password" id="new-password" name="npwd" class="form-control" placeholder="Enter New Password" onkeyup="" required>
                </div>
                <div class="form-group mb-4 p-1">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" class="form-control" placeholder="Enter Confirm Password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    /* document.getElementById('new-password').addEventListener('keyup', function() {
        var newPassword = this.value;
        var confirmPassword = document.getElementById('confirm-password').value;
        if (newPassword !== confirmPassword) {
            document.getElementById('confirm-password').setCustomValidity("Passwords do not match.");
        } else {
            document.getElementById('confirm-password').setCustomValidity("");
        }
    });
    document.getElementById('confirm-password').addEventListener('keyup', function() {
        var newPassword = document.getElementById('new-password').value;
        var confirmPassword = this.value;
        if (newPassword !== confirmPassword) {
            this.setCustomValidity("Passwords do not match.");
        } else {
            this.setCustomValidity("");
        }
    }); */
    $('#new-password, #confirm-password').on('keyup', function() {
        var newPassword = $('#new-password').val();
        var confirmPassword = $('#confirm-password').val();
        if (newPassword !== confirmPassword) {
            $('#confirm-password')[0].setCustomValidity("Passwords do not match.");
        } else {
            $('#confirm-password')[0].setCustomValidity("");
        }
    });
</script>
{% endblock %}